<!DOCTYPE html>
<html lang="<%= htmlLang %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= headTitle %></title>
    <link rel="stylesheet" href="/main.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

    <meta property="og:image" content="<%= og_image %>"/>
    <meta property="og:title" content="<%= og_title %>"/>
    <meta property="og:url" content="<%= og_url %>"/>
    <meta property="og:site_name" content="<%= og_site_name %>"/>

  </head>
  <body>
    <%- yield %>
    <%- partial('_partials/scripts') %>
  </body>
</html>
